@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100;1,400&display=swap');

::after, ::before, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

li{
    list-style-type: none;
}

#page-header{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#page-header .logo-section img{
    max-width: 12rem;
}

#page-header .nav-section ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

ul a{
    text-decoration: none;
    color: #ddd;
}

.header-button{
    background-color: wheat;
    outline: none;
    border: none;
    padding: 8px;
    color: rgb(26, 2, 2);
    font-weight: bold;
}

.responsive-side-menu {
    background-color: rgba(51, 51, 51, 0.603);
    position: fixed;
    height: 100%;
    width: 100%;
    line-height: 3;
    right: 0;
    display: none;
}

.responsive-side-menu .menu-container{
    background-color: #333;
    padding: 2rem;
    height: 100%;
    width: 60%;
}

#page-header .menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    display: none;
}

#page-header .menu-icon span{
    width: 30px;
    height: 2px;
    background-color: wheat;
}

@media (max-width: 880px){
    #page-header .nav-section nav{
        display: none;
    }

    #page-header .menu-icon {
        display: flex;
    }

    #page-header .logo-section img{
        max-width: 8rem;
    }

    #page-header {
        justify-content: space-around;
    }
}